name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2

      - name: Set up Gfortran
        if: runner.os == 'macOS'
        run: ln -s /usr/local/bin/gfortran-10 /usr/local/bin/gfortran


      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.3.0

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse

      - name: On windows fix wheels
        if: runner.os == 'Windows'
        run: |
          cd ./wheelhouse
          for whl in *.whl; do
            wheel unpack $whl --dest unpacked
            mv unpacked/*/correlation_integral/.libs/* unpacked/*/
            wheel pack unpacked/*
            rm -rf unpacked
          done
          cd ../

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
